<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infrastructure Need List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .card {
            margin: 20px;
        }

        .card img {
            height: 200px;
            object-fit: cover;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="my-4">Infrastructure Need List</h1>
        <div class="row">
            {% for item in data %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ item['Image'] }}" class="card-img-top"
                        alt="Image for {{ item['Name of the school'] }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ item['Name of the school'] }}</h5>
                        <p class="card-text">
                            <strong>Ward:</strong> {{ item['Ward'] }}<br>
                            <strong>Local Govt Area:</strong> {{ item['Local Govt Area'] }}<br>
                            <strong>Level of Dilapidation:</strong> {{ item['Level of Dilapidation'] }}<br>
                            <strong>Email:</strong> {{ item['Email of respondent'] }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>